.btn {
  all: unset;
  height: 55px;
  background-color: #c7733a;
  border-radius: 50%;
  aspect-ratio: 1;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.5rem;
  cursor: pointer;
  align-content: center;
  align-self: center;
  justify-self: center;
  transition: all 150ms ease-in-out;
}
.btn:hover {
  background-color: #95c4ca;
}
