.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background: linear-gradient(to right, #95c4ca, #474c8d);
  padding: 0 1rem;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.logo > img {
  height: 30px;
  aspect-ratio: 1;
}
.history {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: #fff;
}
.history:hover {
  transform: rotate(-20deg);
}
.sidebar {
  width: 40%;
  position: fixed;
  right: 0;
  top: 5rem;
  bottom: 0;
  transform: translateX(100%);
  transition: all 400ms ease-in-out;
}
.sidebarVisible {
  transform: translateX(0%);
}

@media (max-width: 600px) {
  .sidebar {
    width: 70%;
  }
}
